<p>
Machine learning (ML) extracts knowledge from data and focuses on prediction. ML learns from our data how to make decisions for future observations. It is widely used and common in everyday interactions – on Facebook, Google, Amazon, or your favorite automated teller machine (ATM). Equally important are applications in science, such as personalized cancer treatment, medical diagnoses, and drug discovery. ML is essential in data driven sciences. This machine learning workshop series is composed of 4 sessions of hands-on practice with the Python scikit-learn library.  
</p>
<p>
At the end of this course, participants will be able to: 
<ul>
    <li>Describe the types of machine learning</li>
    <li>Describe the basics of supervised learning</li>
    <li>Build regression, classification, and clustering models to model data</li>
    <li>Apply and evaluate a machine learning algorithm</li>
</ul>
</p>
