<div class="row">
  <div class="col-md-6">
    <h3>Thursday, Feb 13</h3>
    <table class="table table-striped">
      <tr> <td>2:00</td>  <td><a href="https://archive.ics.uci.edu/ml/datasets/Mice+Protein+Expression">Exploratory Data Analysis</a> </td> </tr>
      <tr> <td>3:30</td>  <td><a href="">Break</a> </td> </tr>
      <tr> <td>3:45</td>  <td><a href="">Introduction to Machine Learning</a> </td> </tr>
      <tr> <td>5:00</td>  <td>END</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Friday, Feb 14</h3>
    <table class="table table-striped">
      <tr> <td>10:00</td>  <td><a href="">Data pre-processing</a> </td> </tr>
      <tr> <td>12:00</td>  <td><a href="">Lunch</a> </td> </tr>
      <tr> <td>1:00</td>  <td>Performance</td> </tr>
      <tr> <td>3:00</td>  <td>END</td> </tr>
    </table>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
   <h3>Thursday, Feb 20</h3>
    <table class="table table-striped">
      <tr> <td>10:00</td>  <td><a href="">Classification algorithms</a> </td> </tr>
      <tr> <td>12:00</td>  <td><a href="">Lunch</a> </td> </tr>
      <tr> <td>1:00</td>  <td><a href="">Classification algorithms (continued)</a> </td> </tr>
      <tr> <td>3:00</td>  <td>END</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Friday, Feb 21</h3>
    <table class="table table-striped">
      <tr> <td>10:00</td>  <td><a href="">Deep learning</a> </td> </tr>
      <tr> <td>12:00</td>  <td><a href="">Lunch</a> </td> </tr>
      <tr> <td>1:00</td>  <td><a href="">Regression and unsupervised learning</a> </td> </tr>
      <tr> <td>3:00</td>  <td>END</td> </tr>
    </table>
  </div>
</div>
